<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Get Updates</h2>
                   	<P>We have a WhatsApp group where you'll find important live updates on everything from food and parking to photos and videos of the event.</P>
                   	<p>Text/call/message Nick to join! </p>
                </div>
            </div>
            <div class="row container">


            </div>
        </div>
    </section>